@import 'header.scss';
@import 'common.scss';
@import 'footer.scss';

.content {
    background: url(../img/stadium.jpg) no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    height: calc(100vh - 220px);
    color: #ffffff;
    .blue_back {
        height: calc(100vh - 220px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(60, 123, 179, 0.9);
        width: 100vw;
        .contacts {
            background-color: #2268a5;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 480px;
            height: 350px;
            padding: 10px;
            border-radius: 10px;
            
            h3 {
                margin: 0;
                text-align: center;
            }
            a {
                margin: 0 0 0 30px;
                text-decoration: none;
                font-weight: 600;
                color: #5cafdf;
                &:hover, :active {
                    text-decoration:underline overline;
                    text-decoration-color: #ffffff;
                    text-decoration-thickness: 2px;
                }
            }
            p {
                margin: 20px;

            }
        }
        .map {
            iframe {
                border-radius: 50%;
                transition: .1s;
                &:hover {
                    border-radius: 10px;
                }
            }
        }
    }
}
