header {
    height: 109px;
    display: flex;
    border-bottom: 1px solid #5cafdf;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 5%, #0959a1 50%); 
    .logo {
        display:inline-flex;
        img {
            height: 90px;
        }
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 1.5rem;
        li {
            margin: 0 40px;
            a {
                color: #ffffff;
                text-decoration: none;
                &:hover,
                :active {
                color: #2e227a;
                }
            }
        }
    }
}
